@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva|Marck+Script|Romanesco|Source+Serif+Pro&display=swap');


body{
  overflow-x: hidden;
}
ul{
  list-style: none;
  align-content: center;
}
li{
  font-family: 'Roboto', sans-serif;
  color: #526173;
  margin-top: 6px;
  font-size: 14px;
  list-style: none;
}
.navItems{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.transcorpImage{
  width: 180px;
  margin-top: -10px;
}
.imageTwo{
  filter: brightness(50%);
}
.welcome_div{
  text-align: center;
  position: absolute;
  top: 15rem;
  left: 30rem;
  color: #fff;
  font-size: large;
}
.welcomeTo_Text{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 4.94px;
}
.transcop_text{
  font-family: 'EB Garamond', serif;
  font-size: 59px;
  margin: 0;
}
.place_to_exprence_text{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  letter-spacing: 0.82px;
}
.date_time{
  display: flex;
  justify-content: space-between ;
  width: 900px;
  height:120px;
  position: absolute;
  top: 40rem;
  left: 16rem;
  -webkit-box-shadow: 19px 21px 8px -14px rgba(214, 203, 214, 1);
	-moz-box-shadow: 19px 21px 8px -14px rgba(214, 203, 214, 1);
	box-shadow: 19px 21px 8px -14px rgba(214, 203, 214, 1);
}
.first_div{
  width: 77%;
  background: #fff;
  display: flex;
  justify-content: space-around;
}
.second_div{
  width: 23%;
  background: #053b58;
  padding: 15px;
  
}
.promotional_code_text{
  color: #fff;
  font-size: small;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.check_avalablity{
  font-family: 'Roboto', sans-serif;
  background: #ff7200;
  color: #fff;
  height: 45px;
  width: 170px;
  margin-left: 13px;
  border:none;
}
.check-in-text,
.check-out-text,
.guests_text{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.58px;
  color: #9b9b9b;
}
.check-in-date,
.check-out-date,
.guests_date{
font-family: 'Romanesco', cursive;
font-size: 50px;
margin-top: -20px;
}


.about_us{
  margin-top: 9rem;
}
.about_us_text{
  color: #9b9b9b;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}
.best_place_text{
  color: #03060a;
  font-family: 'Source Serif Pro', serif;
  font-size: 3.5rem;
}
.transcop_details{
  line-height: 28px;
  color: #9b9b9b;
  font-size: 15px;
  margin-bottom: 2rem;
}
.aboutUs_image{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.more_photos_one{
  background-image: url('./sbscImages/background.png');
  height: 250px;
  width: 100%;
  /* margin-top: 20rem; */
  position: absolute;
  z-index: -10;
  bottom:-65rem;
}
.view_more_photos{
  margin-top: 11rem;
  text-decoration: underline;
  color: #9b9b9b;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  letter-spacing: 4.94px;
}
.more_other_photos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 9.4rem;
}

.images_div{
  margin-left: 5rem;
  margin-top: 3.5rem;

}
.div_one_images_div,
.div_two_images_div,
.div_three_images_div{
  display: flex;
  justify-content: space-around;
  margin: 1rem;

}
.discover_our_room_text{
  color: #9b9b9b;
  letter-spacing: 4.94px;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}
.luxury_interiot_text{
  color: #03060a;
  font-family: 'Source Serif Pro', serif;
  font-size: 36px;
  letter-spacing: 2.12px;
  margin-left: 20px;
}
.testimonials{
  background-image: url('./sbscImages/background.png');
  height: 850px;
  width: 100%;
}
.oval_girl_testimonial{
  height: 600px;
  width:  944px;
  position: absolute;
  bottom: -143rem;
  left: 14rem;
  background: #fff;
  border-radius: 4px;
}

.testimonal_p_text{
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4.94px;
  color: #9b9b9b;
}
.what_guests_say{
  color: #03060a;
  font-family: 'Source Serif Pro', serif;
  font-size: 36px;
  letter-spacing: 2.12px;
  
}
.lorem_ipsum{
  font-family: 'Marck Script', cursive;
  font-size: 35px;
}

.name_testimony{
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
}